@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.button_logout {
    @apply bg-[#ab7839] text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#2c2623] transition duration-200 ease-in-out shadow-md;
  }

.navlink {
    @apply flex items-center gap-3 border border-gray-300 border-r-0 px-3 py-2 rounded-l
}

.active{
    background-color: #2C2623;
    border: #4e3223;
    color: antiquewhite;
}